*{
    box-sizing: border-box;
    scrollbar-width:thin;
    font-family: monospace;
    letter-spacing: -1px;
    font-size: auto;
}
button{
    border:none;
    border-radius:5px;
    background: rgba(255, 255, 255, 0.377);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width:auto;
    margin:1px;
}
button:hover{
    outline: 1px solid greenyellow;
    color: blanchedalmond;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 20px 1px greenyellow;
}
select{
    border:none;
    border-radius:5px;
    background: rgba(255, 255, 255, 0.377);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width:auto;
    margin:1px;
}
select:hover{
    outline: 1px solid greenyellow;
    color: blanchedalmond;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 20px 1px greenyellow;
}

div{
    border:0px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(64, 73, 85, 0.185);
    padding:0px;
}

.child .parent .child{
    left:100%;
    top:-0%;
}

.parent {
    display: block;
    position:relative;
    float: left;
    margin: 0px;
    border-radius: 5px;
    margin-right: 0px;
    width:auto;
    padding:0px 5px 0px 5px;
    text-align: left;
    cursor:pointer;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.child .parent{
    position:relative;
    display: block;
    width:100%;
    background: rgba(255, 255, 255, 0.377);
    margin:1px 0px 1px 0px;
    border-radius: 5px 5px 5px 5px;
    /*font-size: 11pt;*/
    border-bottom: 0px solid rgb(0, 0, 0);
    padding:0px 10px 0px 10px;
}

.parent:hover{
    outline: 1px solid greenyellow;
    color: blanchedalmond;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 20px 1px greenyellow;
}

.parent:hover>.child {
    display:block;
    position:absolute;
    z-index:1;
}

.child{
    display:none;
    position:relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(33, 40, 43, 0.801);
    list-style: none;
    padding: 1px 1px 1px 1px;
    margin: 50px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    float:left;
    width:auto;
}

.label{
    font-weight: normal;
    padding-bottom: 0px;
}

#mainMenu{
    border:0px solid green;
    height: 100%;
    z-index:100;
}

#mainInterface{
    border:0px solid red;
    display:grid;
    grid-template-rows:100px 5px 1fr 5px 100px;
    justify-items: stretch;
    justify-content: stretch;
    transition:300ms;
    overflow:hidden;
}

.horizontal.mid.panel{
    display: grid;
    grid-template-columns: 250px 5px 1fr 5px 250px;
    transition: 300ms;
    overflow:hidden;
}

.horizontal.septum{
    display:grid;
    grid-template-columns: 1fr 20px 1fr;
    position:relative;
}
.horizontal.resizer{
    cursor:row-resize;
}
.vertical.resizer{
    cursor: col-resize;
}
.vertical.septum{
    display:grid;
    grid-template-rows: 1fr 20px 1fr;
}
.resizer{
    justify-self: stretch;
    align-self: stretch;
    background-color: hsl(0, 0%, 55%);
}

.wrapper{
    background-color: rgb(43, 43, 61);
    border-radius: 5px;
    border:1px solid blanchedalmond;
    height: 100%;
    width:100%;
    justify-self: center;
    align-self: center;
    z-index:1;
}
.wrapper:hover{
    background-color: rgb(75, 65, 60);
    opacity: 100%;
    scale: 3;
    border-radius: 5px;
    border: 0.1px solid black;
    transition: 100ms;
}

.content{
    height: 100%;
    overflow:auto;
    border:0px solid violet;
    background: linear-gradient(135deg, #89898080, #A9B2AC80, #BCD0C780);
    border-radius: 5px;
}
.panel{
    border:0px solid greenyellow;
    overflow: auto;
    position:relative;
}

.app{
    display:grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}

.accordion.handler.menu{
    opacity:0.5;
}

.accordion.folder:hover{
    border:1px solid rgb(255, 0, 140);
}

.accordion.label{
    text-align: center;
    color:rgb(31, 33, 28);
}

.accordion.folder{
    border:1px solid blanchedalmond;
    border-radius: 5px;
    background-color: rgb(90, 83, 53);
    width: 1em;
    height: 1em;
    align-self: center;
}

.accordion.menu{
    border:1px solid blanchedalmond;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
    width: 1em;
    height: 1em;
    align-self: center;
}

.dismisser{
    border:1px solid blanchedalmond;
    border-radius: 5px;
    background-color: rgba(104, 34, 34, 0.671);
}
.dismisser:hover{
    background-color: rgba(194, 26, 26, 0.671);
    border:1px solid rgb(0, 0, 0);
}

.selected{
    outline: 1px solid blanchedalmond;
    box-shadow: 0px 0px 20px 1px greenyellow;
}

.flow.container{
    background: url('../resources/pattern.svg');
    background-color: cornsilk;
}

.node{
    fill:rgb(215, 215, 160);
    stroke:grey;
    stroke-width: 1px;
    fill-opacity: 50%;
    transition:300ms
}
.node:focus{
    outline:none;
    stroke:tomato;
    stroke-width: 3px;
    transition:300ms
}
.node.nodeSelected{
    stroke-width: 2px;
    stroke:violet;
    box-shadow: 0px 0px 20px 1px greenyellow
}
.node:hover{
    cursor:move;
    fill-opacity: 75%;
    transition:300ms
}

.anchor{
    fill: lightgrey;
    stroke: grey;
    transition:300ms
}

.anchor:hover{
    fill: rgb(255, 0, 140);
    cursor: crosshair;
    transition:300ms;
}

.flow.field{
    fill:black;
}

.anchor.linked{
    fill: black
}